.App {
  text-align: center;
  font-family: sans-serif;
}

.App h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.App h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.App ul {
  list-style: none;
  padding: 0;
}

.App li {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
